@model IEnumerable<DoAnCoSo.Models.LoaiSanPham>

@{
    ViewData["Title"] = "Danh sách loại sản phẩm";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Add">Thêm Loại Sản Phẩm</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên Loại</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TenLoai
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@item.MaLoai">Sửa</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.MaLoai">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
